div.box{
    border: medium solid black;
    margin: 50px 50px 120px 50px;
    text-align: center;
    width: 1000px;
    height: 170px;
    padding: 20px 5px 0px 5px;
  }
  
  p.heading {
    font-size: 80px;
    margin: 10px;
    font-family: Georgia, serif;
    color: #303030;
  }
  
  span{
    font-size: 20px;
    margin: 20px 13px 0px 20px;
    font-style: italic;
  }
  
  img.scene{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    height:900px;
    width:1200px;
  }
  
  .copywrite{
    font-size: 12px;
    text-align: center;
    margin: 50px 30px 25px 30px;
    font-style: italic;
    font-family: Georgia, serif;
    color: #505050;
  }
  .icon{
      fill: green;
  }
  
  a{
    text-decoration: none;
    color: #808080;
  }
  
  div.logo{
    text-align: center;
    display: inline block;
    margin-bottom: 30px;
  }
  