<!-- <div class="row" style="margin-left: 10px; margin-right: 10px;">
  <div class="container mt-5 p-5 col-md-6">

    <h2 class="text-center"><b>Business search</b></h2>
    <form class="g-3" #basicForm="ngForm" (ngSubmit)="getLatLng(basicForm.value)" ngNativeValidate>

      <div class="col-md-12 mt-2">

        <label for="keyword" class="form-label">Keyword</label><span class="required">*</span>
        <input type="text" ngModel class="form-control" name="key" id="keyword" required/> -->

        <!-- <div [formGroup]="formGroup"> -->
          <!-- <input [formControl]="searchFormControl" [(ngModel)]="searchModel.keyword" matInput type="text" class="form-control" name="key" id="keyword" [matAutocomplete]="auto" required/>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of filteredOptions" [value]="item">
              {{item}}
            </mat-option>
          </mat-autocomplete> -->
        <!-- </div> -->

      <!-- </div>

      <div class="row">
        <div class="col-md-6">
          <label for="distance" class="form-label">Distance</label>
          <input type="text" ngModel name="dist" class="form-control" id="distance" placeholder="10">
        </div>

        <div class="col-md-6">
          <label for="category" class="form-label">Category</label><span class="required">*</span>
          <select ngModel name="cat" class="form-control" id="category" [(ngModel)]="default" required>
            <option value="Default">Default</option>
            <option value="Arts & Entertainment">Arts & Entertainment</option>
            <option value="Health & Medical">Health & Medical</option>
            <option value="Hotels & Travel">Hotels & Travel</option>
            <option value="Food">Food</option>
            <option value="Professional Services">Professional Services</option>
          </select>
        </div>

      </div>

      <div class="col-md-12 mt-2">
        <label for="location" class="form-label">Location</label><span class="required">*</span>
        <input type="text" ngModel name="loc" class="form-control" id="location" required [disabled]="disabledValue" />
      </div>

      <div class="checkbox col-md-12 mt-2">
        <label><input class="checkb" type="checkbox" ngModel name="check" (click)="enableDisableLocation()">Auto-detect
          my
          location</label>
      </div>

      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
        <button type="reset" class="btn btn-primary" (click)="clear()">Clear</button>
      </div>

    </form>
  </div>

</div>  -->












<!-- <div class="col-md-12 mt-2">
        <label for="keyword" class="form-label">Keyword</label><span class="required">*</span>
        <input type="text" ngModel class="form-control" name="key" id="keyword" /> -->


<!-- <mat-form-field> -->
<!-- <input formControlName="keyword" matInput type="text" ngModel [matAutocomplete]="auto" class="form-control" name="key"
          id="keyword" /> -->
<!-- <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of filteredOptions" [value]="item.text">
            {{item.text}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->


<!-- </div> -->


<div class="row" style="margin-left: 10px; margin-right: 10px;">
  <div class="container mt-5 p-5 col-md-6">
    <h2 class="text-center"><b>Business search</b></h2>
      <form class="g-3" [formGroup]="searchForm" (ngSubmit)="getLatLng()" ngNativeValidate>
        <div class="col-md-12 mt-3">
          <label for="keyword" class="form-label">Keyword</label><span class="required">*</span>
           
            <input [formControl]="autokey" [(ngModel)]="keyword" matInput type="text" class="form-control" name="key" id="keyword" [matAutocomplete]="auto" required/>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let item of filteredOptions" [value]="item">
                {{item}}
              </mat-option>
            </mat-autocomplete>
        </div>

        <div class="row">
        <div class="col-md-6 mt-3">
          <label for="distance" class="form-label">Distance</label>
          <input formControlName="distance" type="text" name="dist" class="form-control" id="distance" placeholder="10">
        </div>
  
        <div class="col-md-6 mt-3">
          <label for="category" class="form-label">Category</label><span class="required">*</span>
          <select formControlName="category" name="cat" class="form-control" id="category" [(ngModel)]="default" required>
            <option value="Default">Default</option>
            <option value="Arts & Entertainment">Arts & Entertainment</option>
            <option value="Health & Medical">Health & Medical</option>
            <option value="Hotels & Travel">Hotels & Travel</option>
            <option value="Food">Food</option>
            <option value="Professional Services">Professional Services</option>
          </select>
        </div>
  
      </div>
  
        <div class="col-md-12 mt-3">
          <label for="location" class="form-label">Location</label><span class="required">*</span>
          <input formControlName="location" type="text" name="loc" class="form-control" id="location" required/>
        </div>
  
        <div class="checkbox col-md-12 mt-3">
          <label><input formControlName="check_box" class="checkb" type="checkbox" name="check" (click)="enableDisableLocation()">Auto-detect my
            location</label>
        </div>
  
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary btn-submit">Submit</button>
          <button type="reset" class="btn btn-primary" (click)="clear()">Clear</button>
        </div>
  
    </form>
  </div>
  
  </div> 















<!-- <div class="container">
  
  <form [formGroup]="formGroup" >
    <mat-form-field>
      <mat-label>
        Keyword
      </mat-label>
      <input formControlName="keyword" matInput type="text" [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let item of filteredOptions" [value]="item">
          {{item}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

</div> -->

<!-- <div class="container mt-5 p-5">
  <h2 class="text-center"><b>Business search</b></h2>
  <form class="row g-3" [formGroup]="searchForm" (ngSubmit)="testvalue()">
    <div class="col-md-12">
      <label for="keyword" class="form-label">Keyword</label><span class="required">*</span>
      <mat-form-field>
      <input formControlName="keyword" matInput [matAutocomplete]="auto" type="text" class="form-control" name="key" id="keyword" required/>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of filteredOptions" [value]="item.text">
            {{item.text}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="col-md-8">
      <label for="distance" class="form-label">Distance</label>
      <input type="text" formControlName="distance" name="dist" class="form-control" id="distance" placeholder="10">
    </div>

    <div class="col-md-4">
      <label for="category" class="form-label">Category</label><span class="required">*</span>
      <select name="cat" formControlName="category" class="form-control" id="category" required>
        <option value="Default">Default</option>
        <option value="Arts & Entertainment">Arts & Entertainment</option>
        <option value="Health & Medical">Health & Medical</option>
        <option value="Hotels & Travel">Hotels & Travel</option>
        <option value="Food">Food</option>
        <option value="Professional Services">Professional Services</option>
      </select>
    </div>

    <div class="col-md-12">
      <label for="location" class="form-label">Location</label><span class="required">*</span>
      <input type="text" formControlName="location" name="loc" class="form-control" id="location" required/>
    </div>

    <div class="checkbox col-md-12">
      <label><input class="checkb" type="checkbox" formControlName="check_box" name="check" (click)="enableDisableLocation()">Auto-detect my
        location</label>
    </div>

    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-primary btn-submit">Submit</button>
      <button type="reset" class="btn btn-primary" (click)="clear()">Clear</button>
    </div>

  </form>
</div> -->












<!-- <label for="timenew_field">Time</label>
<select ngModel name="timenew" class="form-control" id="timenew_field">
    <option *ngFor="let key of counter(24); let i = index" [value]="i+1">{{i+1}}</option>
</select> -->


<!-- <app-popup-temp></app-popup-temp> -->
<app-business-table [business_list]="responseData" (callBusinessDetails)="callBusinessDetails($event)" *ngIf="flag"></app-business-table>

<app-business-details [business_id]="id" (sendFlag)="sendFlag()" *ngIf="flag2"></app-business-details>

<br><br><br><br>


<!-- <div class="container">
    <form [formGroup]="formGroup">
      <mat-form-field>
        <input formControlName="keyword" matInput type="text" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of filteredOptions" [value]="item">
            {{item.text}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
</div> -->



<!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="pics" src="https://s3-media2.fl.yelpcdn.com/bphoto/1UO-sVazfi8nPzIjmI3gMw/o.jpg" alt="pic1">
      </div>
      <div class="carousel-item">
        <img class="pics" src="https://s3-media2.fl.yelpcdn.com/bphoto/TT_UovamZ8KAU2FfYOn2Uw/o.jpg" alt="pic2">
      </div>
      <div class="carousel-item">
        <img class="pics" src="https://s3-media3.fl.yelpcdn.com/bphoto/JQFfT7Bc9sgPk50BmmqSTg/o.jpg" alt="pic3">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div> -->



<!-- <mat-form-field class="example-full-width"> -->
<!-- <input type="text" ngModel name="key" class="form-control" id="keyword" [matAutocomplete]="auto" required/>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of filteredOptions" [value]="item.text">
            {{item.text}}
          </mat-option>
        </mat-autocomplete> -->





<!-- <mat-form-field>
          <input type="text" ngModel class="form-control" name="key" id="keyword" matInput [matAutocomplete]="auto" required/>
          <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
      </mat-form-field> -->


<!-- <mat-form-field>
          <input matInput type="text" [matAutocomplete]="auto" name="key" id="keyword" [formControl]="myControl"/>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of filteredOptions" [value]="item.text">
              {{item.text}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->

<!-- <mat-form-field class="example-full-width">
          <input matInput placeholder="Search Movie" [(ngModel)]="selectedMovie" [matAutocomplete]="auto"
            [formControl]="searchMoviesCtrl" placeholder="Min 3 Characters Ex. Ant">
          <button *ngIf="selectedMovie" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete [panelWidth]="400" #auto="matAutocomplete" (optionSelected)="onSelected()"
            [displayWith]="displayWith">
            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let movie of filteredMovies" [value]="movie">
                <span><b>{{movie.Title}}</b> ({{movie.Year}})</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field> -->





<!-- <mat-form-field>
        <input formControlName="keyword" matInput type="text" ngModel [matAutocomplete]="auto" class="form-control" name="key"
          id="keyword" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of filteredOptions" [value]="item.text">
            {{item.text}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->